@media screen and (width >= 600px){
    .titulo {
        font-size: 2.5rem;
    }

    .container__lista li {
        font-size: 1.3rem;
    }

    .sessao-principal__texto {
        font-size: 2.5rem;
    }

    .sessao-principal__titulo {
        font-size: 5.2rem;
    }

    .sessao-principal__titulo-dois {
        font-size: 1.6rem;
    }

    .contatos__lista > li{
        font-size: 1.3rem;
        width: 150px;
        text-align: center;
    }
}

@media screen and (width >= 912px) {
    .cabecalho__titulo{
        font-size: 2.5rem;
    }

    .navegacao__container {
        display: none;
    }

    .navegacao__lista {
        display: flex;
    }

    .navegacao__lista li{
        padding: 12px;
        border-radius: 5px;
        transition: font-weight .5s ease, background-color .5s ease;
        margin: 0 5px;
    }

    .navegacao__lista li:hover {
        cursor: pointer;
        background-color: var(--cor-azul-claro2);
        font-weight: bold;
    }

    .navegacao__lista a {
        text-decoration: none;
        color: var(--branco);
        font-size: 1.1rem;
    }

    .principal__sessao-principal {
        gap: 1.7rem;
    }

    .sessao-principal__texto {
        font-size: 3rem;
    }

    .sessao-principal__titulo {
        font-size: 6rem;
    }

    .sessao-principal__titulo-dois {
        font-size: 2rem;
    }

    .texto-dois__link {
        font-size: 1.6rem;
    }

    .texto-dois__link:hover {
        font-size: 1.7rem;
    }

    .titulo {
        font-size: 3rem;
    }

    .principal__sobre-mim {
        flex-direction: row;
        align-items: center;
    }

    .sobre-mim__imagem {
        width: 400px;
    }

    .container__lista li {
        font-size: 1.4rem;
        padding-bottom: 2rem;
    }

    .habilidades__lista li{
        font-size: 1.2rem;
    }
    
    .habilidades__lista li:hover{
        font-size: 1.4rem;
    }

    .container-pai__container-filho {
        width: 400px;
        margin: 0 .5rem;
    }
    .container-filho__titulo {
        font-size: 1.5rem;
    }
    .container-pai__container-filho img {
        width: 400px;
    }

    .contatos__lista > li{
        font-size: 1.5rem;
        padding: 1.3rem;
        width: 200px;
    }

}

@media screen and (width >= 1200px) {
    .navegacao__lista a {
        font-size: 1.2rem;
    }

    .principal__sobre-mim {
        align-items: center;
    }

    .sobre-mim__imagem {
        width: 500px;
    }

    .container__lista li {
        padding-bottom: 2.5rem;
    }

    .habilidades__lista li{
        width: 400px;
    }


}