@charset "UTF-8";

:root {
    --cor-azul-claro: #0077B6;
    --cor-azul-claro2: #239cdd;
    --sombra: #0000004d;
    --cor-secundaria: #313131;
    --cor-secundaria-hover: #474747;
    --fundo: #0A0A0A;
    --preto: #000000;
    --branco: #ffffff;

    --font: Arial, sans-serif;
    --font-secundaria: 'Times New Roman', Times, serif;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 98.5vw;
    background-color: var(--fundo);
    color: var(--branco);
    font-family: var(--font);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: var(--preto);
}

::-webkit-scrollbar-thumb {
    background: var(--cor-azul-claro2);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--cor-azul-claro);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: var(--cor-azul-claro);
    position: fixed;
    top: 0;
    width: 100vw;
    transition: all .5s ease;
}

.cabecalho__titulo {
    font-family: var(--font-secundaria);
    font-size: 2rem;
    font-weight: bold;
}

.navegacao__lista {
    display: none;
}

.sessao {
    padding: 7rem 1rem 3rem 1rem;
}

.principal__sessao-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px var(--sombra);
    gap: 2.5rem;
    background: url('../assets/fundo.jpg') no-repeat top right;
    background-size: cover;
    text-align: center;
    height: 100vh;
}

.texto {
    transition: font-size .5s ease;
}

.sessao-principal__texto {
    font-size: 2rem;
}

.texto__span {
    background-color: var(--cor-azul-claro);
    padding: 10px;
    border-radius: 10px;
}

.sessao-principal__titulo {
    font-size: 4.5rem;
    font-weight: bold;
    font-family: var(--font-secundaria);
}

.sessao-principal__titulo-dois {
    color: var(--cor-azul-claro);
    font-weight: 600;
    font-size: 1.4rem;
}

.sessao-principal__texto-dois{
    background-color: var(--cor-azul-claro);
    padding: .5rem;
    border-radius: 5px;
    transition: background-color .5s ease;
}

.sessao-principal__texto-dois:hover{
    background-color: var(--cor-azul-claro2);
}

.texto-dois__link {
    text-decoration: none;
    color: var(--branco);
    font-size: 1.4rem;
    transition: color .5s ease, font-size .5s ease;
}

.texto-dois__link:hover {
    color: var(--branco);
    font-size: 1.5rem;
    cursor: pointer;
}

.titulo {
    font-family: var(--font-secundaria);
    font-size: 2rem;
    margin-bottom: 20px;
    text-decoration: underline var(--cor-azul-claro);
    text-align: center;
}

.principal__sobre-mim {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.sobre-mim__imagem {
    width: 250px;
    margin: 1rem;
    border-radius: 5px;
    transition: width .5s ease;
}

.container__lista li {
    font-size: 1.1rem;
    padding: 7px;
}

.container__lista li::before {
    content: "\2022";
    color: white;
    padding-right: 10px;
}

.habilidades__lista {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    transition: all .5s ease;
}

.habilidades__lista a{
    text-decoration: none;
    color: var(--branco);
}

.habilidades__lista li{
    background-color: var(--cor-secundaria);
    padding: 100px;
    width: 280px;
    margin: 10px 0;
    border-radius: 10px;
    transition: all .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.habilidades__lista li:hover{
    background-color: var(--cor-secundaria-hover);
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
}

.projetos__container-pai{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.projetos__container-pai a {
    text-decoration: none;
}

.container-pai__container-filho {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    transition: all 1s ease;
}

.container-filho__titulo {
    text-align: center;
    font-size: 1.2rem;
    margin: 2rem 0;
    background-color: var(--cor-azul-claro);
    padding: .5rem;
    border-radius: 10px;
    color: var(--branco);
    transition: all 1s ease;
}

.container-pai__container-filho img {
    width: 280px;
    margin-bottom: 2rem;
    transition: width 1s ease;
}

.container-filho__imc {
    border: 2px solid var(--cor-azul);
}

.container-pai__container-filho img:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

.experiencias__profissao {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    background-color: var(--cor-secundaria);
    padding: 1rem;
    border-radius: 10px;
}

.profissao__duracao {
    font-size: .9rem;
    color: var(--cor-azul-claro2);
}

.titulo__cargo {
    color: var(--cor-azul-claro2);
}

.profissao__titulo {
    font-size: 1.5rem;
}

.profissao__paragrafo {
    line-height: 1.2rem;
    text-align: justify;
}

.contatos__lista{
    display: flex;
    justify-content: space-around;
    padding: 1rem 0 2rem 0;
}

.contatos__lista > li {
    padding: 1rem;
    background-color: var(--cor-azul-claro);
    border-radius: 5px;
    transition: background-color .5s ease;
}

.contatos__lista > li:hover {
    background-color: var(--cor-azul-claro2);
    cursor: pointer;
}

.contatos__lista > li > a {
    text-decoration: none;
    color: var(--branco);
}

.principal__botao {
    margin: 0 0 5rem 1.5rem;
    position: fixed;
    top: 82%;
    background-color: var(--cor-azul-claro);
    border-radius: 50%;
    padding: .2rem;
}

.principal__botao img {
    width: 50px;
}

.rodape {
    text-align: center;
    padding: .5rem 0;
    background-color: var(--cor-azul-claro);
    transition: all .5s ease;
    width: 100vw;
}